.wrapper {
    margin-bottom: 10px;
    padding-left: 6px;
}

.message-t-e {
    display: flex;
    align-items: center;
}

.date {
    margin-left: 10px;
    font-size: 11px;
    color: #a7a7a7;
}

.content {
    margin-left: 30px;
}

.author {
    padding-left: 6px;
    font-weight: bold;
}
